
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* $color: #000; */

// $color: dodgerblue;

$color: limegreen;

.test-sass {
  font-size: 55px;
  margin:0;
  padding:0;
  color: $color;
  text-transform: lowercase;
}

.test-vue-sass {
  text-align: left;
  font-size:25px;
  margin:0;
  padding:0;
  color: gray;
}

