/* $color: #000; */

.test-sass {
  font-size: 55px;
  margin: 0;
  padding: 0;
  color: limegreen;
  text-transform: lowercase;
}

.test-vue-sass {
  text-align: left;
  font-size: 25px;
  margin: 0;
  padding: 0;
  color: gray;
}

